# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.local

# Generated reports
backend/exports/

# =========================
# React / Node
# =========================
node_modules/
dist/
.vite/

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# =========================
# Hardware snapshots
# =========================
lhm-current.json

# =========================
# Database backups
# =========================
*.dump
*.sql

# =========================
# Docker files (DO NOT PUSH)
# =========================
*.tar
*.zip

# Docker volumes
postgres_data/
grafana-storage/
prometheus_data/

# OS files
.DS_Store
Thumbs.db